.venv/
.git/
__pycache__/
**/__pycache__/
**pycache**/
*.pyc
.pytest_cache/
mlruns/
mlflow.db
docs/
screenshots/
infra/
kubernetes/
jenkins/
tests/
scripts/
terraform.tfstate
terraform.tfstate.backup
.terraform/
